html, body {
    margin: 0px;
}

 .section3 {
    padding: 150px 150px 150px 150px;
}

.navbar {
    padding: 16px 150px 150px 150px;
    display: flex;
    flex-wrap: wrap;
}

img {
    width: 50px;
    height: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    display: flex;
    float: right;
    padding: 14px 16px;
    margin-left: auto;
}

.rightside {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    font-size: 18px;
    color: #E5E7EB;
}

body {
    font-family: "Roboto", sans-serif;
}

.navbar, .section1, .footer {
    background: #1f2937;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    padding: 0px;
    margin: 0;
}

.section1 {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 450px;
    float: left;
    flex-shrink: 0;
}

.placeholder {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    width: 550px;
    background: rgb(105, 105, 105);
    height: 250px;
}

.placeholder-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 300px;
    margin-left: auto;
}

.section1-sign-up {
    display: block;
    background: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
    border: none;
    padding: 5px;
    width: 125px;
    height: 35px;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
}

.header {
    display: flex;
    width: 100%;
    flex-shrink: 0;
    padding-bottom: 100px;
}

.section2 {
    padding: 16px 150px 150px 150px;
}

h2 {
    font-size: 32px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    padding: 16px;
}

.image-container {
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    padding: 15px 75px;
}

.image1, .image2, .image3, .image4 {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    flex-shrink: 0px;
}

.section2-image {
    width: 185px;
    height: 185px;
    border-radius: 20px;
}

.section2-subtext {
    text-align: center;
}

.center-quote {
    text-align: left;
    font-size: 36px;
    color: #1F2937;
    padding: 16px 150px 16px 150px;
    margin: 0px;
}

.section3 {
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
}

.quote-credit {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 28px;
}

.quote-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.callbox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 50px;
}

.call-content {
    text-align: left;
    background-color: #3882F6;
    border-radius: 10px;
    margin: 0;
    display: flex;
    width: 1000px;
    height: 125px;
}

.su {
    background: #3882F6;
    border-radius: 10px;
    border: none;
    width: 125px;
    height: 35px;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    border: 2px solid black;
}

.bottom-sign-up {
    color: white;
    border-color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-su-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    margin-right: 50px;
}

.call-messages {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 200px;
    margin-left: 100px;
    padding: 30px;
}

.cta, .ctam {
    margin: 0;
}

.cta {
    font-size: 20px;
    color: #F9FAF8;
    font-weight: 900;
}

.ctam {
    font-size: 15px;
    color: #F9FAF8;
}

.footer {
    display: flex;
    margin-top: auto;
    color: #F9FAF8;
    justify-content: center;
    align-items: center;
    padding: 25px;
}